* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  font-family: "Outfit";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 50rem;
  margin: 5rem auto;
  padding: 3rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

header,
main {
  padding: 0 2rem;
}

img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 3rem;
}

.omelette {
  font-family: "Young Serif";
  color: hsl(24, 5%, 18%);
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.simple-ome {
  line-height: 1.6;
  margin-bottom: 2.8rem;
  font-size: 1.1rem;
}

.preparation-container {
  background-color: hsl(30, 54%, 90%);
  width: 100%;
  padding: 1.2rem 2rem;
  border-radius: 8px;
}

.preparation {
  color: hsl(332, 51%, 32%);
  font-size: 1.3rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.prep-list {
  margin-bottom: 2rem;
}

.prep-list li {
  margin-left: 1.3rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.ingredients {
  padding-left: 0.5rem;
  font-size: 2rem;
  font-family: "Young Serif";
  color: hsl(14, 45%, 36%);
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.ingre-list {
  padding-left: 2rem;
}

.ingre-list li {
  padding-left: 1rem;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

.sect-wseparator {
  border-bottom: 1px solid hsl(30, 54%, 90%);
  padding: 2.5rem;
}

.instructions {
  padding-left: 0.5rem;
  font-size: 2rem;
  font-family: "Young Serif";
  color: hsl(14, 45%, 36%);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

ol {
  padding-left: 1.8rem;
  font-weight: bold;
}

ol li {
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.nutrition {
  padding-left: 0.5rem;
  font-size: 2rem;
  font-family: "Young Serif";
  color: hsl(14, 45%, 36%);
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

caption {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding: 0 0.4rem;
}

table {
  margin: 0 auto;
  font-size: 1.2rem;
  width: 100%;
}

td {
  padding: 1rem 2rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.mark {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}
